*{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    background-color: #F6EAD1;
    font-family: "Times New Roman", "Arial", sans-serif;
}

.main-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 40px;
      color: #0e3b9cc7;
  }

.tv-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
}

.footer{
    display: flex;
    justify-content:center;
}

.result-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color:chocolate;
}

a:link {
    color: blue;
    text-decoration: none;
}
  
a:visited {
    color: purple;
}
  
a:hover {
    color: aqua;
    text-decoration: underline;
}

/* Mobile Styles */
@media only screen and (max-width: 414px) {
    .footer{
        display: flex;
        justify-content:center;
        margin-top:50px;
      }
}
  
  /* Tablet Styles */
@media only screen and (min-width: 415px) and (max-width: 960px) {
    .footer{
        display: flex;
        justify-content:center;
        margin-top:200px;
      }
}
  
  /* Desktop Styles */
@media only screen and (min-width: 961px) {
  .footer {
    margin-top:70px;
  }
}